.card.card-table {
    .card-header {
        margin: -10px 15px 0 15px !important;
        background: $primary !important;
        border-radius: calc(0.2857rem - 0.0625rem) !important;

        .card-title {
            color: $white !important;
            font-size: 24px !important;
            font-weight: bold !important;
        }

        .btn-add {
            position: absolute;
            right: 30px;
            top: -4px;
        }
    }
}