﻿@model Inmobiliaria.Core.ViewModels.FondoFijoVM



<div class="card-body" id="FondoFijoContainer">
    <div class="row">
        @Html.LabelFor(model => model.FF_CtaCte, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-6">
            @Html.Kendo().TextBoxFor(model => model.FF_CtaCte).HtmlAttributes(new {  })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.FF_CtaCon, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-6">
            @(Html.Kendo().DropDownListFor(model => model.FF_CtaCon)
                                                        .DataSource(ca => { ca.Read(res => res.Action("GetAllCuentasContablesDrop", "DropDowns")); })
                                                        .AutoBind(true)
                                                    .OptionLabel("- Elegir -")
                                                                        .Filter("contains")
                                                    .TemplateId("template_cuenta")
                                                    .DataTextField("CTA_Des")
                                                    .DataValueField("CTA_CtaCon")
                                                    .HtmlAttributes(new {  }))
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.FF_imp, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-6">
            @Html.Kendo().TextBoxFor(model => model.FF_imp).HtmlAttributes(new {  })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.FF_Div, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-6">
            @(Html.Kendo().DropDownListFor(model => model.FF_Div)
                                                        .DataSource(ac => { ac.Read(re => re.Action("GetAllDivisionDrop", "DropDowns")); })
                                                        .AutoBind(true)
                                                    .OptionLabel("- Elegir -")
                                                                        .Filter("contains")
                                                    .TemplateId("template_division")
                                                    .DataTextField("DIV_Descripcion")
                                                    .DataValueField("DIV_Codigo")
                                                    .HtmlAttributes(new {  }))
        </div>
    </div>
    <div id="EstadoRegistro">
        <div class="row">
            @Html.LabelFor(model => model.FF_EstReg, new { @class = "col-md-4 col-form-label" })
            <div class="col-md-7">
                @(Html.Kendo().DropDownListFor(model => model.FF_EstReg)
                                                                            .DataSource(er => { er.Read(resp => resp.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = " " })); })
                                                                            .AutoBind(true)
                                                                        .OptionLabel("- Elegir -")
                                                                        .TemplateId("template_estado")
                                                                        .DataTextField("ESTREG_Des")
                                                                        .DataValueField("ESTREG_EstReg")
                                                                        .HtmlAttributes(new { @class = "col-md-12" }))
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.FF_EstRegCtaCon, new { @class = "col-md-4 col-form-label" })
            <div class="col-md-7">
                @(Html.Kendo().DropDownListFor(model => model.FF_EstRegCtaCon)
                                                                            .DataSource(er => { er.Read(resp => resp.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = " " })); })
                                                                            .AutoBind(true)
                                                                        .OptionLabel("- Elegir -")
                                                                        .TemplateId("template_estado")
                                                                        .DataTextField("ESTREG_Des")
                                                                        .DataValueField("ESTREG_EstReg")
                                                                        .HtmlAttributes(new { @class = "col-md-12" }))
            </div>
        </div>
    </div>

</div>

<script type="text/x-kendo-tmpl" id="template_estado">
    <div>
        <div>
            <a>
                #:ESTREG_EstReg# -
                #:ESTREG_Des#
            </a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="template_cuenta">
            <a>
                #:CTA_CtaCon# -
                #:CTA_Des#
            </a>
</script>

<script type="text/x-kendo-tmpl" id="template_division">
    <div class="product">
        <div >
            <a>
                #:DIV_Descripcion# -
                #:DIV_Codigo#
            </a>
        </div>
    </div>
</script>

