﻿@model Inmobiliaria.Core.ViewModels.DepartamentoVM

<div class="card-body" id="DepartamentoContainer">
    <div class="row">
        @Html.HiddenFor(model => model.IdDepartamento)
        @Html.LabelFor(model => model.NombreDepartamento, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.NombreDepartamento).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Direccion, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Direccion).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />

    <div class="row">
        @Html.LabelFor(model => model.NombreCondominio, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(model => model.IdCondominio)
                                .DataSource(ac => { ac.Read(re => re.Action("GetAllDivisionDrop", "DropDowns")); })
                                .AutoBind(true)
                            .OptionLabel("- Elegir -")
                            .TemplateId("template_division")
                            .DataTextField("DIV_Descripcion")
                            .DataValueField("DIV_Codigo")
                            .HtmlAttributes(new { @class = "col-md-12" }))
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="template_division">
    <div class="product">
        <div>
            <a>
                #:DIV_Descripcion# -
                #:DIV_Codigo#
            </a>
        </div>
    </div>
</script>