﻿@model Inmobiliaria.Core.ViewModels.ProveedorVM



<div class="card-body" id="ProveedorContainer">
    <div class="row">
        @Html.LabelFor(model => model.PRO_Nom, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_Nom).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PRO_Ruc, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_Ruc).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.TIPCONFIS_TipConFis, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.TIPCONFIS_TipConFis).HtmlAttributes(new { })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.PRO_FecIns, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().DateInputFor(model => model.PRO_FecIns)
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PRO_CtaCte, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_CtaCte).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PRO_Dir, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_Dir).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PRO_DomFis, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_DomFis).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PRO_EstReg, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.PRO_EstReg).HtmlAttributes(new { })
        </div>
    </div>
    @Html.HiddenFor(model => model.UsuarioCrea, new { id = "usuarioCrea", value = @User.Identity.Name })

</div>

