﻿
@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "ListaCondominios";
    Layout = "~/Views/Shared/_ListadoGrid.cshtml";
}


<article>

    <br />

    <script type="text/x-kendo-tmpl" id="template">
        <div class="product">
            <a href="http://aqpflats.somee.com/">
                <img src="#:DIV_Ruta#" class="img img-rounded img-thumbnail" />
            </a>
            <div class="text-center">
                <h3>
                    #:DIV_Descripcion#
                </h3>
                <h5>
                    #:DIV_Direccion#
                </h5>
            </div>
        </div>
        </script>
        <h2 class="text-center">Nuestros Condominios</h2>
        <br />
        @(Html.Kendo().ListView<DivisionVM>
                                        ()
                                        .Name("listView")
                                        .TagName("div")
                                        .ClientTemplateId("template")
                                        .DataSource(dataSource =>
                                        {
                                            dataSource.Read(read => read.Action("GetAllDivision", "Division"));

                                        })
                                        .Pageable()
                @*.HtmlAttributes(new { style = "height: 800px" })*@
                )

                <style>
                    #listView {
                        padding: 10px 5px;
                        margin-bottom: -1px;
                        min-height: 510px;
                    }

                    .product {
                        float: left;
                        position: relative;
                        width: 315px;
                        height: 270px;
                        margin: 5px 5px;
                        padding: 20px;
                        margin-bottom: 90px;
                    }

                        .product img {
                            width: 315px;
                            height: 250px;
                            /* al pasarle el mouse*/
                            opacity: 1;
                            display: block;
                            transition: .5s ease;
                            backface-visibility: hidden;
                        }
                    .k-listview:after {
                        content: ".";
                        display: block;
                        height: 20px;
                        clear: both;
                        visibility: hidden;
                    }
                    /** texto en centro de imagen xd*/
                    .middle {
                        transition: .5s ease;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;
                    }
                    /**texto de img*/
                    .text {
                        background-color: #4CAF50;
                        color: white;
                        font-size: 16px;
                        padding: 16px 32px;
                    }
                    .product:hover .img {
                        opacity: 0.3;
                    }

                    .product:hover .middle {
                        opacity: 1;
                    }
                </style>
                <br />
                <br />
</article>
