﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Reembolso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ViewController/ReembolsoViewController.js"></script>
<script>
     var Url = {
        Reeditar: '@Url.Action("ActivarEdicion", "Reembolso")',
        Reembolsar: '@Url.Action("Reembolsar", "Reembolso")'
    };
</script>
<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<ReembolsoVM>()
                                                                .Name("ReembolsoGrid")
                                                                .Columns(columns =>
                                                                {

                                                                    columns.Bound(p => p.REM_Imp).Title("Importe").Width(120);
                                                                    columns.Bound(p => p.REM_CtaCte).Title("DNI").Width(120);
                                                                    columns.Bound(p => p.REM_FecEnv).Title("Fec Envio").Format("{0: dd/MM/yyyy}").Width(130);
                                                                    columns.Bound(p => p.REM_FecCon).Title("Fec Contabilización").Format("{0: dd/MM/yyyy}").Width(130);
                                                                    columns.Bound(p => p.FF_Div).Title("División").Width(120);
                                                        //columns.Command(command =>
                                                        //{
                                                        //    command.Edit().Text(" ").UpdateText("Guardar");
                                                        //    command.Destroy().Text(" ");
                                                        //}).Title("Opciones");
                                                        columns.Template(@<text></text>)
                        .ClientTemplate("<div class='order'>" +
                            "#if(!REM_APRO||REM_APRO==null){#<a class='k-button k-button-icontext k-grid-edit btn-sm'><span class='k-icon k-i-edit'></span>Editar</a>#}#" +
                            //"#if(REM_APRO==null){#<a class='k-button k-button-icontext k-grid-cancel btn-sm'><span class='k-icon k-i-cancel'></span>Eliminar</a>#}#" +
                            "#if(!REM_APRO){#<a class='k-button k-button-icontext k-grid-cancel btn-sm' onclick='gridManager.reactivar(#=IdRendicion#)'><span class='k-icon k-i-edit'></span>REACTIVAR</a>#}#" +
                            "#if(!REM_APRO&&REM_APRO!=null){#<a class='k-button k-button-icontext k-grid-cancel btn-sm' onclick='gridManager.reembolsar(#=REM_Cod#)'><span class='k-icon k-i-edit'></span>APROBAR</a>#}#" +

                        "</div>"
                        )
                        .Title("OPCIONES").Width(150);
                                                                })
                                                            .Scrollable()
                                                            .ToolBar(toolbar =>
                                                            {
                                                                //toolbar.Create().Text("Nuevo");
                                                                toolbar.Excel().Text("Exportar Excel");
                                                                toolbar.Pdf().Text("Exportar PDF");
                                                            })
                                            .Pageable(pageable => pageable
                                                .Refresh(true)
                                                .PageSizes(true)
                                                .ButtonCount(10)
                                                .Messages(m =>
                                                {
                                                    m.Display("Reembolso mostradas {0} - {1} de {2}");
                                                    m.Empty("No hay Reembolsos");
                                                    m.ItemsPerPage("Reembolso por página");
                                                })
                                            )
                                            .Excel(e => e.AllPages(true).FileName("Reembolsos.xlsx"))
                                            .Pdf(e => e.AllPages().FileName("Reembolsos.pdf"))
                                            .Filterable(filterable => filterable
                                                .Extra(false)
                                                .Operators(operators => operators
                                                        .ForString(str => str.Clear()
                                                    .Contains("Contiene")
                                                    )
                                                    .ForNumber(str => str.Clear()
                                                        .IsEqualTo("Es igual a")
                                                    )
                                                    .ForDate(str => str.Clear()
                                                        .IsGreaterThanOrEqualTo("Desde")
                                                        .IsLessThanOrEqualTo("Hasta")

                                                    )
                                                )
                                            )
                                            .Editable(editable =>
                                            {
                                                editable.Mode(GridEditMode.PopUp).TemplateName("_ReembolsoEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar este Reembolso?");
                                            })
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .Model(model => model.Id(p => p.REM_Cod))
                                                .Read(read => read.Action("GetAllReembolsos", "Reembolso"))
                                                .Create(create => create.Action("InsertReembolso", "Reembolso"))
                                                .Update(update => update.Action("UpdateReembolso", "Reembolso"))
                                                .Destroy(destroy => destroy.Action("DeleteReembolso", "Reembolso"))
                                            .Events(events =>
                                            {
                                                events.RequestEnd("gridManager.onRequestEnd");
                                            })
                                            )
                                            .Events(events => events
                                                .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                            )
    )
</article>


