﻿@model Inmobiliaria.Core.ViewModels.ClienteVM

<div class="card-body" id="ClienteContainer">
    <div class="row">
        @Html.HiddenFor(model => model.IdCliente)
        @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.NombreCliente).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.ApellidoPaterno).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.ApellidoMaterno).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Direccion, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Direccion).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.DNI, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.DNI).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Telefono, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Telefono).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.CorreoElectronico, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CorreoElectronico).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <div id="EstadoDrop">
        <br />
        <div class="row">
            @Html.LabelFor(model => model.Estado, new { @class = "col-md-4 col-form-label" })
            <div class="col-md-7">
                @(Html.Kendo().DropDownListFor(model => model.Estado)
                                                                .DataSource(ac => { ac.Read(re => re.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = "CLIE" })); })
                                                                .AutoBind(true)
                                                            .OptionLabel("- Elegir -")
                                                            .DataTextField("ESTREG_Des")
                                                            .DataValueField("ESTREG_EstReg")
                                                            .HtmlAttributes(new { @class = "col-md-12" }))
            </div>
        </div>
    </div>
</div>

