﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/DepartamentoViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<DepartamentoVM>()
                                .Name("DepartamentoGrid")
                                .Columns(columns =>
                                {
                                    //columns.Bound(p => p.IdDepartamento).Title("Código");
                                    columns.Bound(p => p.NombreDepartamento).Title("Departamento");
                                    columns.Bound(p => p.NombreCondominio).Title("Division");
                                    columns.Bound(p => p.Direccion).Title("Dirección");
                                    columns.Bound(p => p.DescripcionEstado).Title("Estado");
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text("_").UpdateText("Guardar").CancelText("Cancelar");
                                        command.Destroy().Text("_");
                                    }).Title("Opciones");
                                })
                                .Scrollable()
                                .ToolBar(toolbar =>
                                {
                                    toolbar.Create().Text("Nuevo");
                                    toolbar.Excel().Text("Exportar Excel");
                                })
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(10)
                                    .Messages(m =>
                                    {
                                        m.Display("Departamentos mostradas {0} - {1} de {2}");
                                        m.Empty("No hay Departamentos");
                                        m.ItemsPerPage("Departamentos por página");
                                    })
                                )
                                .Excel(e => e.AllPages(true).FileName("Departamentos.xlsx"))
                                .Filterable(filterable => filterable
                                    .Extra(false)
                                    .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                        .Contains("Contiene")
                                        )
                                        .ForNumber(str => str.Clear()
                                            .IsEqualTo("Es igual a")
                                        )
                                        .ForDate(str => str.Clear()
                                            .IsGreaterThanOrEqualTo("Desde")
                                            .IsLessThanOrEqualTo("Hasta")

                                        )
                                    )
                                )
                                .Editable(editable =>
                                {
                                    editable.Mode(GridEditMode.PopUp).TemplateName("_DepartamentoEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Departamento?");
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Model(model => model.Id(p => p.IdDepartamento))
                                    .Read(read => read.Action("GetAllDepartamentos", "Departamento"))
                                    .Create(create => create.Action("InsertDepartamento", "Departamento"))
                                    .Update(update => update.Action("UpdateDepartamento", "Departamento"))
                                    .Destroy(destroy => destroy.Action("DeleteDepartamento", "Departamento"))
                                .Events(events =>
                                {
                                    events.RequestEnd("gridManager.onRequestEnd");
                                })
                                )
                                .Events(events => events
                                    .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                )
    )
</article>




