﻿@model Inmobiliaria.Core.ViewModels.ReembolsoVM

<div class="card-body" id="ReembolsoContainer">
    <div class="row">
        @Html.HiddenFor(model => model.REM_Cod)
        @Html.LabelFor(model => model.REM_Imp, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.REM_Imp).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.REM_CtaCte, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.REM_CtaCte).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.REM_FecEnv, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().DatePickerFor(model => model.REM_FecEnv).HtmlAttributes(new { })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.REM_FecCon, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().DatePickerFor(model => model.REM_FecCon).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.REM_EstReg, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(model => model.REM_EstReg)
                .DataSource(er => { er.Read(resp => resp.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = "REEM" })); })
                .AutoBind(true)
                .OptionLabel("- Elegir -")
                .TemplateId("template_estado")
                .DataTextField("ESTREG_Des")
                .DataValueField("ESTREG_EstReg")
                .HtmlAttributes(new { @class = "col-md-12" }))
        </div>
    </div>
</div>

