﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Fondo Fijo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/FondoFijoViewController.js"></script>
<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<FondoFijoVM>()
                                                                        .Name("FondoFijoGrid")
                                                                        .Columns(columns =>
                                                                        {

                                                                            columns.Bound(p => p.FF_CtaCte).Title("Cta Corriente");
                                                                            columns.Bound(p => p.FF_CtaCon).Title("Cta Contable");
                                                                            columns.Bound(p => p.FF_imp).Title("Importe Fijo");
                                                                            columns.Bound(p => p.FF_Div).Title("División");
                                                                            columns.Bound(p => p.FF_EstReg).Title("Estado");
                                                                            columns.Command(command =>
                                                                            {
                                                                                command.Edit().Text(" ").UpdateText("Guardar");
                                                                                command.Destroy().Text(" ");
                                                                            }).Title("Opciones");
                                                                        })
                                                                        .Scrollable()
                                                                        .ToolBar(toolbar =>
                                                                        {
                                                                            toolbar.Create().Text("Nuevo");
                                                                            toolbar.Excel().Text("Exportar Excel");
                                                                            toolbar.Pdf().Text("Exportar PDF");
                                                                        })
                                                        .Pageable(pageable => pageable
                                                            .Refresh(true)
                                                            .PageSizes(true)
                                                            .ButtonCount(10)
                                                            .Messages(m =>
                                                            {
                                                                m.Display("Fondos Fijos mostrados {0} - {1} de {2}");
                                                                m.Empty("No hay Fondos Fijos");
                                                                m.ItemsPerPage("Fondos Fijos por página");
                                                            })
                                                        )
                                                        .Excel(e => e.AllPages(true).FileName("Fondos_Fijos.xlsx"))
                                                        .Pdf(e => e.AllPages().FileName("Fondos_Fijos.pdf"))
                                                        .Filterable(filterable => filterable
                                                            .Extra(false)
                                                            .Operators(operators => operators
                                                                    .ForString(str => str.Clear()
                                                                .Contains("Contiene")
                                                                )
                                                                .ForNumber(str => str.Clear()
                                                                    .IsEqualTo("Es igual a")
                                                                )
                                                                .ForDate(str => str.Clear()
                                                                    .IsGreaterThanOrEqualTo("Desde")
                                                                    .IsLessThanOrEqualTo("Hasta")

                                                                )
                                                            )
                                                        )
                                                        .Editable(editable =>
                                                        {
                                                            editable.Mode(GridEditMode.PopUp).TemplateName("_FondoFijoEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar este FondoFijo?");
                                                        })
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(10)
                                                            .Model(model => model.Id(p => p.FF_Cod))
                                                            .Read(read => read.Action("GetAllFondosFijos", "FondoFijo"))
                                                            .Create(create => create.Action("InsertFondoFijo", "FondoFijo"))
                                                            .Update(update => update.Action("UpdateFondoFijo", "FondoFijo"))
                                                            .Destroy(destroy => destroy.Action("DeleteFondoFijo", "FondoFijo"))
                                                        .Events(events =>
                                                        {
                                                            events.RequestEnd("gridManager.onRequestEnd");
                                                        })
                                                        )
                                                        .Events(events => events
                                                            .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                                        )
    )
</article>

