﻿@model Inmobiliaria.Core.ViewModels.ReservaVM

<div class="card-body" id="ReservaContainer">
    @Html.HiddenFor(model => model.IdReserva)
    <div class="row">

        @Html.LabelFor(model => model.NombreDepartamento, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(model => model.IdDepartamento)
                                                                                                .DataSource(ac => { ac.Read(re => re.Action("GetAllDepartamentosDrop", "DropDowns").Data("gridManager.filtro")); })
                                                                                                .AutoBind(false)
                                                                                            .OptionLabel("- Elegir -")
                                                                                            .DataTextField("NombreDepartamento")
                                                                                            .DataValueField("IdDepartamento")
                                                                                            .HtmlAttributes(new { }))
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.NombreVendedor, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(model => model.IdVendedor)
                                                                                        .DataSource(ac => { ac.Read(re => re.Action("GetAllVendedoresDrop", "DropDowns")); })
                                                                                        .AutoBind(true)
                                                                                    .OptionLabel("- Elegir -")
                                                                                    .DataTextField("NombreVendedor")
                                                                                    .DataValueField("IdVendedor")
                                                                                    .HtmlAttributes(new { }))
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(model => model.IdCliente)
                                                                                .DataSource(ac => { ac.Read(re => re.Action("GetAllClientesDrop", "DropDowns")); })
                                                                                .AutoBind(true)
                                                                            .OptionLabel("- Elegir -")
                                                                            .DataTextField("NombreCliente")
                                                                            .DataValueField("IdCliente")
                                                                            .HtmlAttributes(new { }))
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ValorReserva, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().NumericTextBoxFor(model => model.ValorReserva)
                                                                                .Min(1000)
                                                                            .HtmlAttributes(new { }))
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.FechaLimite, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @(Html.Kendo().DatePickerFor(model => model.FechaLimite)
                                                                                .Min(DateTime.Now)
                                                                            .HtmlAttributes(new { }))
        </div>
    </div>
</div>

