﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/ReservaViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<ReservaVM>()
                                        .Name("ReservaGrid")
                                        .Columns(columns =>
                                        {
                                        columns.Bound(p => p.IdReserva).Title("Código");
                                        columns.Bound(p => p.NombreCliente).Title("Cliente");
                                        columns.Bound(p => p.NombreVendedor).Title("Vendedor");
                                        columns.Bound(p => p.NombreDepartamento).Title("Departamento");
                                        columns.Bound(p => p.DescripcionEstado).Title("Categoria");
                                        //            columns.Command(command =>
                                        //            {
                                        //                command.Edit().Text("Editar").UpdateText("Guardar");
                                        //    //command.Destroy().Text("Eliminar");
                                        //}).Title("Opciones");

                                        columns.Template(@<text></text>)
        .ClientTemplate("<div class='order'>" +
            "#if(Estado!='2'){#<a class='k-button k-button-icontext k-grid-edit btn-sm'><span class='k-icon k-i-edit'></span>Editar</a>#}#" +
            //"#if(REM_APRO==null){#<a class='k-button k-button-icontext k-grid-cancel btn-sm'><span class='k-icon k-i-cancel'></span>Eliminar</a>#}#" +
        "</div>"
        )
        .Title("OPCIONES").Width(150);
                                                })
                                                .Scrollable()
                                                .ToolBar(toolbar =>
                                                {
                                                    toolbar.Create().Text("Nuevo");
                                                    toolbar.Excel().Text("Exportar Excel");
                                                })
                                                .Pageable(pageable => pageable
                                                    .Refresh(true)
                                                    .PageSizes(true)
                                                    .ButtonCount(10)
                                                    .Messages(m =>
                                                    {
                                                        m.Display("Reservas mostradas {0} - {1} de {2}");
                                                        m.Empty("No hay Reservas");
                                                        m.ItemsPerPage("Reservas por página");
                                                    })
                                                )
                                                .Excel(e => e.AllPages(true).FileName("Reservas.xlsx"))
                                                .Filterable(filterable => filterable
                                                    .Extra(false)
                                                    .Operators(operators => operators
                                                            .ForString(str => str.Clear()
                                                        .Contains("Contiene")
                                                        )
                                                        .ForNumber(str => str.Clear()
                                                            .IsEqualTo("Es igual a")
                                                        )
                                                        .ForDate(str => str.Clear()
                                                            .IsGreaterThanOrEqualTo("Desde")
                                                            .IsLessThanOrEqualTo("Hasta")

                                                        )
                                                    )
                                                )
                                                .Editable(editable =>
                                                {
                                                    editable.Mode(GridEditMode.PopUp).TemplateName("_ReservaEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Reserva?");
                                                })
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(10)
                                                    .Model(model => model.Id(p => p.IdReserva))
                                                    .Read(read => read.Action("GetAllReservas", "Reserva"))
                                                    .Create(create => create.Action("InsertReserva", "Reserva"))
                                                    .Update(update => update.Action("UpdateReserva", "Reserva"))
                                                    .Destroy(destroy => destroy.Action("DeleteReserva", "Reserva"))
                                                .Events(events =>
                                                    {
                                                        events.RequestEnd("gridManager.onRequestEnd");
                                                    })
                                                )
                                                .Events(events => events
                                                    .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                                )
    )
</article>

