﻿
@{
    ViewBag.Title = "Index";
    <!--Layout = "~/Views/Shared/_Navbar.cshtml";-->
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Bienvenido al Sistema</h1>
      <p class="lead">Ud. podrá gestionar las reservas y los fondos fijos :) </p>
      <p class="lead">Links a manuales pronto...</p>
      <div style="height: auto"></div>
      <p class="lead mb-0">Fin de la sección!</p>
    </div>
  </div>
</div>

