﻿
@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = null;
}
@model UserResultVM

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Images/favicon_ca.png")">*@
    <title>@ViewBag.Title - INMOBILIARIA</title>
    <link href="@Url.Content("~/Content/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/black-dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/login.css")" rel="stylesheet" />



    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ReturnUrl)

    <div>
        <img class="img-banner" src="~/Images/banner-inmobiliaria.png" />
        <div class="box-color">
            <div class="content">
                @*<img width="150" src="~/Images/logo_ca.png" class="ml-3" />*@
                <div class="title-login"><h1>SISTEMA DE RESERVAS</h1><hr /></div>
                <div class="card card-login card-white card-body">
                    <div class="card-header">
                        <!--img width="40" src="~/Images/favicon_ca.png" -->
                        <h3 class="title"> Iniciar Sesión</h3>
                    </div>
                    <form id="loginForm" class="login-form">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="control-label">Usuario</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-pencil"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(model => model.CodUserName, new { @class = "form-control", placeholder = "Usuario" })
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(model => model.Contrasenia, new { @class = "form-control", placeholder = "Contraseña", type = "password" })
                                    <span class="input-group-addon">
                                        <i class="fas fa-lock" style="color: #fff;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-default float-right">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> hecho con <i class="tim-icons icon-heart-2"></i> por
                        <a href="" target="_blank">EQUIPO YOROZUYA</a>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
}