﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Divisiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/DivisionViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<DivisionVM>()
                                                .Name("DivisionGrid")
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(p => p.DIV_Descripcion).Title("Condominio");
                                                    columns.Bound(p => p.DIV_Direccion).Title("Direccion");
                                                    columns.Bound(p => p.DIV_Ruta).Title("Ruta Img").ClientTemplate("<img src='" + "#= DIV_Ruta #" + "' height='90' width='90'/>");
                                                    columns.Bound(p => p.DIV_EstRegistro).Title("Estado Reg");
                                                    columns.Command(command =>
                                                    {
                                                        command.Edit().Text(" ").UpdateText("Guardar");
                                                        command.Destroy().Text(" ");
                                                    }).Title("Opciones");
                                                })
                                                .Scrollable()
                                                .ToolBar(toolbar =>
                                                {
                                                    toolbar.Create().Text("Nuevo");
                                                    toolbar.Excel().Text("Exportar Excel");
                                                })
                                                .Pageable(pageable => pageable
                                                    .Refresh(true)
                                                    .PageSizes(true)
                                                    .ButtonCount(10)
                                                    .Messages(m =>
                                                    {
                                                        m.Display("Divisiones mostradas {0} - {1} de {2}");
                                                        m.Empty("No hay Divisiones");
                                                        m.ItemsPerPage("Divisiones por página");
                                                    })
                                                )
                                                .Excel(e => e.AllPages(true).FileName("Condominios.xlsx"))
                                                .Filterable(filterable => filterable
                                                    .Extra(false)
                                                    .Operators(operators => operators
                                                            .ForString(str => str.Clear()
                                                        .Contains("Contiene")
                                                        )
                                                        .ForNumber(str => str.Clear()
                                                            .IsEqualTo("Es igual a")
                                                        )
                                                        .ForDate(str => str.Clear()
                                                            .IsGreaterThanOrEqualTo("Desde")
                                                            .IsLessThanOrEqualTo("Hasta")
                                                        )
                                                    )
                                                )
                                                .Editable(editable =>
                                                {
                                                    editable.Mode(GridEditMode.PopUp).TemplateName("_DivisionEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Condominio?");
                                                })
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(10)
                                                    .Model(model => model.Id(p => p.DIV_Codigo))
                                                    .Read(read => read.Action("GetAllDivision", "Division"))
                                                    .Create(create => create.Action("InsertDivision", "Division"))
                                                    .Update(update => update.Action("UpdateDivision", "Division"))
                                                    .Destroy(destroy => destroy.Action("DeleteDivision", "Division"))
                                                .Events(events =>
                                                {
                                                    events.RequestEnd("gridManager.onRequestEnd");
                                                })
                                                )
                                                .Events(events => events
                                                    .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                                ).HtmlAttributes(new { style = "height: 500px" })
    )
    <br />

</article>


