﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}box
<script src="~/Scripts/ViewController/ProveedorViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<ProveedorVM>()
                                                        .Name("ProveedorGrid")
                                                        .Columns(columns =>
                                                        {

                                                            columns.Bound(p => p.PRO_Nom).Title("Nombre");
                                                            columns.Bound(p => p.PRO_Ruc).Title("RUC");
                                                            columns.Bound(p => p.PRO_EstReg).Title("Estado");
                                                            columns.Bound(p => p.TIPCONFIS_TipConFis).Title("Condición Fiscal");
                                                            columns.Command(command =>
                                                            {
                                                                command.Edit().Text(" ").UpdateText("Guardar");
                                                                command.Destroy().Text(" ");
                                                            }).Title("Opciones");
                                                        })
                                                        .Scrollable()
                                                        .ToolBar(toolbar =>
                                                        {
                                                            toolbar.Create().Text("Nuevo");
                                                            toolbar.Excel().Text("Exportar Excel");
                                                            toolbar.Pdf().Text("Exportar PDF");
                                                        })
                                        .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(10)
                                            .Messages(m =>
                                            {
                                                m.Display("Proveedores mostrados {0} - {1} de {2}");
                                                m.Empty("No hay Proveedores");
                                                m.ItemsPerPage("Proveedores por página");
                                            })
                                        )
                                        .Excel(e => e.AllPages(true).FileName("Proveedores.xlsx"))
                                        .Pdf(e => e.AllPages().FileName("Proveedores.pdf"))
                                        .Filterable(filterable => filterable
                                            .Extra(false)
                                            .Operators(operators => operators
                                                    .ForString(str => str.Clear()
                                                .Contains("Contiene")
                                                )
                                                .ForNumber(str => str.Clear()
                                                    .IsEqualTo("Es igual a")
                                                )
                                                .ForDate(str => str.Clear()
                                                    .IsGreaterThanOrEqualTo("Desde")
                                                    .IsLessThanOrEqualTo("Hasta")

                                                )
                                            )
                                        )
                                        .Editable(editable =>
                                        {
                                            editable.Mode(GridEditMode.PopUp).TemplateName("_ProveedorEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar este Proveedor?");
                                        })
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(10)
                                            .Model(model => model.Id(p => p.PRO_Cod))
                                            .Read(read => read.Action("GetAllProveedor", "Proveedor"))
                                            .Create(create => create.Action("InsertProveedor", "Proveedor"))
                                            .Update(update => update.Action("UpdateProveedor", "Proveedor"))
                                            .Destroy(destroy => destroy.Action("DeleteProveedor", "Proveedor"))
                                        .Events(events =>
                                        {
                                            events.RequestEnd("gridManager.onRequestEnd");
                                        })
                                        )
                                        .Events(events => events
                                            .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                        )
    )
</article>




