﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
<!--INICIO-->
<div id="inicio">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/LA_MERCED.jpg" alt="Chania">
                <div class="carousel-caption">
                    <h3>Cercado</h3>
                    <p>Centro histórico</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/LA_MERCED.jpg" alt="Chania">
                <div class="carousel-caption">
                    <h3>Cerro colorado</h3>
                    <p>Cuna del sillar</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/LA_MERCED.jpg" alt="Chania">
                <div class="carousel-caption">
                    <h3>La joya</h3>
                    <p>El futuro de Arequipa</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--END INICIO-->
<!--NOSOTROS-->
<div id="nosotros" class="container">
    <br />
    <br />
    <br />
    <br />
    <div class="row ">
        <div class="col-md-6 text-center">
            <h2>Nosotros</h2>
            <h4>...</h4>
            <p>
                Somos una empresa con más de 17 años en el sector inmobiliario
                , 30 proyectos entregados y más de 8,500 familias
                felices que respaldan su experiencia.
            </p>
            <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-md-4 text-center">
            <span class="tim-icons icon-html5 logo"></span>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<!--END NOSOTROS-->
<!--CONDOMINIO-->
<div id="condominio" class="jumbotron text-center">
    <h1>Sweet Home</h1>
    <p> Te ayudamos a elegir donde quieres vivir</p>
    <form class="form-inline">
        <div class="input-group">
           
            <div class="input-group-btn">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="location.href='@Url.Action("ListaCondominios","GridCondominios")'"> Ver Condominios <i class="tim-icons icon-components"></i></button>
            </div>
        </div>
    </form>
</div>
<!--END CONDOMINIO-->
<!--CONTACTENOS-->
<div class="container" id="contacto">
    <br />
    <br />
    <br />
    <h2 class="text-center">Contáctenos</h2>
    <h4 class="text-center"><em>"Todos nuestro clientes son importantes"</em></h4>
    <div class="row test">
        <div class="col-md-4">
            <h2>Tome nota  <span class="tim-icons icon-pencil"></span></h2>
            <h4><span class="tim-icons icon-square-pin"> Cerro colorado</span></h4>
            <h4><span class="tim-icons icon-mobile"> 123456789</span></h4>
            <h4><span class="tim-icons icon-email-85"> sweethome@gmail.com</span></h4>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="apellido_paterno" name="apellido_paterno" placeholder="Apellido Paterno" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="apellido_materno" name="apellido_materno" placeholder="Apellido Materno" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="telefono" name="telefono" placeholder="Teléfono" type="tel" pattern="[0-9]{9}" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <div class="col-md-12 form-group">
                <br />
                <button class="btn btn-success pull-right" type="submit" value=@Url.Action("","","")>Enviar</button>
            </div>
        </div>
    </div>

    <br />
</div>
<!--END CONTACTENOS-->
