﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Vendedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/VendedorViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<VendedorVM>()
                                .Name("VendedoreGrid")
                                .Columns(columns =>
                                {
                                    //columns.Bound(p => p.IdVendedor).Title("Código");
                                    columns.Bound(p => p.NombreVendedor).ClientTemplate("#= ApellidoPaterno# #= ApellidoMaterno#, #= NombreVendedor#").Title("Apellidos y Nombre(s)");
                                    //columns.Bound(p => p.ApellidoPaterno).Title("Apellido");
                                    columns.Bound(p => p.DNI).Title("DNI");
                                    columns.Bound(p => p.CorreoElectronico).Title("Correo");
                                    columns.Bound(p => p.DescripcionEstado).Title("Categoria");
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text("_").UpdateText("Guardar");
                                        command.Destroy().Text("_");
                                    }).Title("Opciones");
                                })
                                .Scrollable()
                                .ToolBar(toolbar =>
                                {
                                    toolbar.Create().Text("Nuevo");
                                    toolbar.Excel().Text("Exportar Excel");
                                })
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(10)
                                    .Messages(m =>
                                    {
                                        m.Display("Vendedores mostradas {0} - {1} de {2}");
                                        m.Empty("No hay Vendedores");
                                        m.ItemsPerPage("Vendedores por página");
                                    })
                                )
                                .Excel(e => e.AllPages(true).FileName("Vendedores.xlsx"))
                                .Filterable(filterable => filterable
                                    .Extra(false)
                                    .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                        .Contains("Contiene")
                                        )
                                        .ForNumber(str => str.Clear()
                                            .IsEqualTo("Es igual a")
                                        )
                                        .ForDate(str => str.Clear()
                                            .IsGreaterThanOrEqualTo("Desde")
                                            .IsLessThanOrEqualTo("Hasta")

                                        )
                                    )
                                )
                                .Editable(editable =>
                                {
                                    editable.Mode(GridEditMode.PopUp).TemplateName("_VendedorEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Vendedore?");
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Model(model => model.Id(p => p.IdVendedor))
                                    .Read(read => read.Action("GetAllVendedores", "Vendedor"))
                                    .Create(create => create.Action("InsertVendedor", "Vendedor"))
                                    .Update(update => update.Action("UpdateVendedor", "Vendedor"))
                                    .Destroy(destroy => destroy.Action("DeleteVendedor", "Vendedor"))
                                .Events(events =>
                                    {
                                        events.RequestEnd("gridManager.onRequestEnd");
                                    })
                                )
                                .Events(events => events
                                    .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                )
    )
</article>


