﻿body {
    background: #44e2110f;
}
footer {
    background: #96c551;
    color: azure;
}
html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #d89805d4; /* Orange */
    color: #ffffff;
    padding: 100px 25px;
}

footer .icon-minimal-up {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f4511e;
}

.logo {
    font-size: 200px;
}
