﻿@font-face {
    font-family: 'Hind Madurai';
    src: url('/Content/assets/fonts/HindMadurai-Regular.ttf') format('truetype');
}
body {
    font-family: 'Hind Madurai', sans-serif;
}

.img-banner {
    position: fixed;
    width: 80%;
    height: auto;
    vertical-align: middle;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    top: 50%;
    z-index:-100;
}
.box-color {
    background: rgba(30, 30, 47, 0.7);
    height:100vh;
}
.card-login {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
    width: 420px;
}
body form{
    margin:0;
}
.title-login {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
}
    .title-login h1 {
        font-family: 'Hind Madurai', sans-serif;
        font-size: 4.1em;
        letter-spacing: 3px;
    }
hr {
    width: 150px;
    border: 5px solid #94c12f;
    margin: 0;
}
.card h3 {
    color: #1d1e2f;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 0.2em;
    font-size: 1.9em;
}
.content {
    min-height: calc(100vh - 76px);
    padding: 30px;
}

.card-body .form-group > label {
    font-size: 1.1em;
    letter-spacing: 0.10em;
}

#CodUserName, #Contrasenia{
    font-size: 1.0em;
    letter-spacing: 0.10em;
}
.btn.btn-default.float-right {
    letter-spacing: 0.15em;
}
.input-group-text {
    padding-right: 13px!important;
}
