﻿/*--------------- Configuracion general-------------------------*/
/**{
    outline: 2px solid red;
}*/
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
body {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    position: inherit;
}
body .card-color {
    background: rgba(22, 103, 55, 0.5);
    height: 250px;
}
body .wrapper {
    position: absolute;
    width: 100%;
}
html, .container-fluid, .row, .column {
    height: 100%;
}
ul, li, ol {
    list-style: none;
}
.wrapper {
    top: 0;
    height: auto;
}
.row, .container-fluid {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
i {
    font-size: 1.25rem;
}
input {
    outline: none;
    vertical-align: middle;
}
.order {
    display: flex;
}
.top-list, .demo-hint {
    padding-top: 5px;
}
.panel-margin {
    margin-bottom: 15px;
}
.collapse {
    display: none;
    visibility: initial;
}
a:focus {
    color: white;
}
label {
    color: #333;
    letter-spacing: 0.09em;
    font-family: 'Hind Madurai', sans-serif;
}
.white-color{
    color: white!important;
}
.white-color:hover {
    color: #ef3527 !important;
}
.space-icons {
    margin-right: 5px !important;
}
.size-icons {
    font-size: 1.45em;
}
.letter-fonts, .k-grid-update, .k-grid-cancel {
    letter-spacing: 0.10em;
}
.margin-form-button{
    margin-bottom: 25px;
}
.color-lbl {
    color: #bd9307 !important;
}
.swal2-container {
    z-index: 10009;
}
@font-face {
    font-family: 'Hind Madurai';
    src: url('/Content/assets/fonts/HindMadurai-Regular.ttf') format('truetype');
}

/*-------------------- VISTA DEL LAYOUT MAESTRO - MENU ----------------------------*/

.sidebar, .off-canvas-sidebar {
    background: #62947a;
    background: linear-gradient(0deg, #a6c13ca8 0%, #425430c2 100%);
    font-family: 'Hind Madurai', sans-serif;
    height: calc(100vh - 90px);
    width: 330px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 82px;
    margin-left: 20px;
    border-radius: 5px;
    overflow-y: scroll;
}
    .sidebar:before, .off-canvas-sidebar:before {
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #59773e;
        top: -5px;
        left: 40px;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }
.sidebar .nav li > a:focus, .sidebar .nav li > a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: coral !important;
}
.sidebar .nav li > a.active-modul, .sidebar .nav li a.active-modul > p, .nav li a.active-modul > i,
.sidebar .nav li > a + div .nav li > a.active-modul, .sidebar .nav li > a + div .nav li > a.active-modul > span,
.sidebar .nav li > a.active-modul:hover {
    background-color: #f0f1f1;
    color: coral !important;
}
#Proveedor, #TipoPenalidad, #TipoTarifa{
    margin-bottom: 5px;
}
.navbar .notification {
    border: 1px solid #F44336;
}
.main-panel {
    border-top: none;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgba(146, 255, 0, 0.45) 0%, rgba(36, 44, 49, 0.68) 100%),url(/Images/fondo.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
}
.main-panel > .content { /*modificado*/
    margin-top: 5px;
}
.sidebar-wrapper {
    margin-top: 15px;
    margin-bottom: 90px;
}
.sidebar-wrapper .nav {
    min-height: 85%;
}
.sidebar-wrapper .nav .nav-item:last-child .nav {
    margin-bottom: -20px;
}
.scroll-web::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #ccc;
}
.scroll-web::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
    background: #5f7d45;
    transition: 1s all;
    cursor: pointer;
}
    .scroll-web::-webkit-scrollbar-thumb:hover, .sidebar::-webkit-scrollbar-thumb:hover {
        transition: 1s all;
        background: #5f7d45;
        display: block;
    }
.indicador {
    margin: 50px 24px;
    font-size: 20px !important;
}
.wrapper #navigation-example {
    color: #f0f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-bottom: 1px solid #81a991;
}
#navigation-example .usuario {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f0f1f1;
}
.sidebar .logo img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 8px;
}
.sub-title { /*--- menu-titulos--*/
    font-size: 1.3em;
    letter-spacing: 0.1em;
}
.sidebar .nav .caret {
    margin-top: 1px;
    right: 0px;
}
.navbar-nav li .font-icons {
    font-size: 1.9em;
}
.sidebar-normal {
    font-size: 1.2em;
}
footer {
    position: relative;
    z-index: 999;
}
.font-user { /*icono usuario*/
    color: white; 
    font-size: 2.3em!important;
}
#usuarioGlobal {
    font-size: 1.5em;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    color: white;
}
.icon-maestro { /*icono maestro*/
    font-weight: 800;
    color: #e7ae41;
}
.sidebar .nav, .off-canvas-sidebar .nav {
    margin-top: 8px;
    display: block;
}
.sidebar .logo, .off-canvas-sidebar .logo {
    padding: 0.5rem 0.5rem 0.5rem;
}
.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon {
    width: 29px;
    overflow: hidden;
}
.sidebar .sidebar-wrapper {
    overflow: hidden;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 3px 15px 0;
    letter-spacing: 0.1em;
}
.logo-normal {
    letter-spacing: 0.12em;
}
/*-------- VISTAS QUE USAN CARD ------------*/
.card {
    background-color: transparent;
    margin-top: 0px;
    border-radius: 0 0 6px 6px !important;
    font-size: 13px;
}
.card-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 10px 10px !important;
}
.card-header-default-convenios {
    background: #6f554e;
    -webkit-box-shadow: 1px 20px 11px 5px #6d8683, 4px 14px 7px 9px rgb(102, 131, 127);
    box-shadow: 1px 20px 11px 5px #6d8683, 4px 14px 7px 9px rgb(102, 131, 127);
    transform: translate(0px, -5px);
    background: linear-gradient(15deg, #55697bbf 20%, #59763e 100%);
    border: 2px solid #67916e;
}
.card .card-header-her .card-icon { /*modificado*/
    background: linear-gradient(60deg,#e8ae41,#7fb19c) !important;
    padding: 19px;
    color: white;
    margin-top: -50px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), -7px -6px 10px -5px rgba(0,0,0,.5);  
}
.card .card-header.card-header-icon {
    justify-content: inherit !important;
}
.card-buttons a:hover, .card-buttons button:hover {
    background: #fff;
    transform: translateY(0px) !important;
    color: #333;
}
.card-buttons{
    padding: 8px;
    text-align: right;
    border-radius: 6px 6px 0 0;
    background: #6f554e;
    background: linear-gradient(15deg, #cfab50 10%, #a2e769 100%);
}
.card-fondo-detail {
    padding: 8px;
    text-align: right;
    border-radius: 6px 6px 0 0;
    background: #6f554e;
    background: linear-gradient(15deg, #f98d31c2 10%, #6547759e 100%);
}
.btn-volver, .btn-aprobar, .btn-anular, .btn-modificar { /*boton flecha*/
    background: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    transition: 1s all;
    color: #24252b !important;
    font-family: 'Hind Madurai', sans-serif;
}
.contorno-card {
    background: #ffffff !important;
    box-shadow: 0 1px 15px 0 #737b41 !important;
}
.card-title { /* modificado*/
    color: #fff !important;
    margin-bottom: 0px;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.018em;
    margin-top: 0px !important;
    word-break: break-word;
    text-align: left;
    padding: 2px;
}
.btn-volver span {
    margin: auto !important;
    font-size: 19px;
}
.card label {
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #333;
}
.card-footer {
    text-align: right;
}
.form-inline {
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.btn-new, .nav-link, .k-button.k-button-icontext.k-grid-add {
    
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1.15em;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
    vertical-align: middle;
    box-shadow: none;
    margin-right: 10px;
    letter-spacing: 0.12em;
}
    .btn-new:hover, .nav-link:hover, .btn-new:focus .btn:focus, .k-button.k-button-icontext.k-grid-add:hover {
        background: #f2b243;
        color: white;
        font-size: 1.15em;
        border-radius: 5px;
        font-weight: 600;
        white-space: nowrap;
        vertical-align: middle;
        box-shadow: none;
    }
.font-new {
    font-size: 1.10em;
    margin-top: -5px;
    padding-right: 3px;
    font-weight: 600;
}

.card h1, .card h2, .card h3, .card h4, .card h5 { /*modificado*/
    color: #bd9307;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.7em;
    font-weight: inherit;
}
.card-horas{ /*solo para el modulo horas extras*/
    background-color: white;
    position: relative;
}
/*------------------    FORMULARIOS -----------------*/
.form-inline label {
    color: #333;
    word-break: break-word;
    margin-bottom: 0;
    justify-content: flex-end !important;
    text-align: right;
    padding-right: 0px;
}
.form-inline .form-check {
    justify-content: flex-start;
}
input.k-textbox, textarea.k-textbox {
    width: 100% !important;
    padding: 6px 7.5px;
    text-indent: 0 !important;
}
label.control-label {
    margin: 0;
    word-break: break-word;
    white-space: pre-line;
}
.k-textbox {
    width: 100% !important;
}
.form-group textarea {
    padding-top: 6px;
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    width: 100% !important;
}

/*-------------- TABLAS ----------------------*/
.k-grid .k-grid-header .k-header {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
    color: black !important;
    text-align: left !important;
    padding: 12px 10px !important;
    border-color: rgb(227, 228, 228);
    background: #fff;
    white-space: normal !important;
    vertical-align: middle;
    background-color: rgba(203, 204, 203, 0.7);
    letter-spacing: 0.12em;
}
#gridCertificadoSucameArchivos .k-grid-header .k-header {
    background: linear-gradient(15deg, #9dcf87 10%, #a3bf3c 100%);
}
.k-button.k-button-icontext.k-grid-edit {
    background: #4577a2;
    border: 1px solid #64b0b3;
    color: white !important;
}
.k-button.k-button-icontext.k-primary.k-grid-update {
    border-color: #0ac164;
    color: #f2f5f1 !important;
    background-color: #0ac164;
    margin: 0 5px;
}
.k-button.k-button-icontext.k-grid-cancel, .k-button.k-button-icontext.k-grid-delete {
    text-transform: uppercase;
    border: 2px solid #d06c61;
    background: #d06c61;
    color: #fff !important;
}
.white-content .card:not(.card-white) { /*contorno Tablas*/
    background: #b3c3ac4d;
    box-shadow: 0 1px 3px 0 #737b41;
}
.k-grid-content .k-button {
    display: inline-block !important;
}
.k-grid tbody .k-button {
    display: inline-flex !important;
    margin: 2px;
    min-width: 64px !important;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 0.10em;
}
#NombreProveedor, #nombreTipoPenalidad, #NombreVigilante, #puntajeTipoPenalidad, #CorreoElectronico, #MontoTarifa,
#HorasDomingo, #HorasSabado, #HorasLunesaViernes, #DescripcionHorarioAgencia {
    width: 100%;
}
.k-grid td {
    background: white;
    font-size: 13px;
}
.k-grid .k-alt td {
    background: rgba(204, 204, 204, 0.2);
}
.p-1 { /*servicios - estado */
    letter-spacing: 0.09em;
}
.k-grid-header .k-grid-filter{
    right: 0px;
}
.k-grid-content {
    overflow-x: auto;
}
.k-grid-content::-webkit-scrollbar {
    width: 5px;
    height: 10px;       
}
.k-grid-content::-webkit-scrollbar-track {
    background-color: #c4c4c4;
}
.k-grid-content::-webkit-scrollbar-thumb {
    background-color: #3f444642;
}

/*--------------------- POPUP ----------------------------*/
.k-window-titlebar.k-header {
    margin-top: -76px;
    background-color: #e86240;
}
.k-window-content, .k-prompt-container {
    padding: 15px 10px;
}
.k-window-titlebar {
    padding: 13px 20px;
}
.k-window-title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Hind Madurai', sans-serif;
    color: white;
    letter-spacing: 0.1em;
}
.k-edit-form-container {
    width: 100% !important;
    min-width: unset;
}
.k-window-titlebar + .k-window-content {
    margin-top: 1.5em;
    padding-top: 0;
}
.cuadro-popup {
    border: 1px solid #bd9c90;
    padding: 10px;
    border-radius: 5px;
}
.btns-footer {
    margin-top: 20px;
    float: right;
}
.btns-footer button, .card-footer button{
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 0.10em;
}
.form-group label {
    margin-bottom: 0;
    text-align: right;
}
