﻿/*--------[CAJA AREQUIPA - VIGILANCIA]-----------------------*/
/*---------- configuracion general --------------------------*/

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

html, body, .container-fluid, .row, .column {
    height: 100%;
}

ul, li, ol {
    list-style: none;
}

.row, .container-fluid {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Baloo';
    src: url('~/Content/assets/fonts/Baloo-Regular.ttf') format('truetype');
}

.sidebar, .off-canvas-sidebar {
    background: #62947a;
    background: linear-gradient(0deg, #a6c13ca8 0%, #425430c2 100%);
    font-family: 'Hind Madurai', sans-serif;
    height: calc(100vh - 90px);
    width: 330px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 82px;
    margin-left: 20px;
    border-radius: 5px;
    overflow-y: auto;
}
    .sidebar:before, .off-canvas-sidebar:before {
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        /*border-bottom: 5px solid #da5c47;*/
        border-bottom: 5px solid #59773e;
        top: -5px;
        left: 40px;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }
/*---------- PRINCIPIO -------------------------------------*/
.sidebar .nav li > a:focus, .sidebar .nav li > a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar[data-color=rose] li.active > a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
}
    .sidebar .nav, .off-canvas-sidebar .nav {
        margin-top: 8px;
        display: block;
    }

    .sidebar .logo, .off-canvas-sidebar .logo {
        padding: 0.5rem 0.5rem 0.5rem;
    }

    .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon, .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon {
        width: 29px;
        overflow: hidden;
    }

    .sidebar .sidebar-wrapper {
        overflow: hidden;
    }

    .sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
        margin: 7px 15px 0;
        letter-spacing: 0.1em;
    }
.logo-normal {
    letter-spacing: 0.12em;
}
/* ---------------SIDEBAR - MENU-----------------------------------*/
.navbar .notification {
    border: 1px solid #F44336;
}
.main-panel, .sidebar-wrapper {
    overflow-y: hidden;
}
.sidebar-wrapper {
    margin-top: 15px;
    margin-bottom: 90px;
}
    .sidebar-wrapper .nav {
        min-height: 85%;
    }

        .sidebar-wrapper .nav .nav-item:last-child .nav {
            margin-bottom: -20px;
        }
::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #6d9a6d;
}
::-webkit-scrollbar-thumb {
    background: #5f7d45; /*#d2d2d2;*/
    transition: 1s all;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    transition: 1s all;
    background: #5f7d45;
    display: block;
}
.indicador {
    margin: 50px 24px;
    font-size: 20px !important;
}

.wrapper #navigation-example {
    color: #f0f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-bottom: 1px solid #81a991;
}

#navigation-example .usuario {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f0f1f1;
}
/* -------SIDEBAR - LOGO  -------*/
.sidebar .logo img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 8px;
}

.info-menu span {/*-- usuario --*/
    color: #fefbff;
    font-size: 1.5em;
    font-weight: 900;
}

.sub-title {/*--- menu-titulos--*/
    font-size: 1.3em;
}

.sidebar .nav .caret {
    margin-top: 1px;
    right: 0px;
}

.main-panel {
    overflow-y: hidden;
    border-top: none;
    /* background: #ffffff; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgba(146, 255, 0, 0.59) 0%, rgba(36, 44, 49, 0.68) 100%),url(/Images/fondo.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
}

.img-inicio {
    left: 0;
    top: 0;
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
}

.title-inicio {
    z-index: 999;
    font-family: 'Baloo', sans-serif;
    position: relative;
    text-align: center;
    font-size: 4.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dce1e8;
    /* background: #3e1f3d59; */
    top: -22%;
    left: 5%;
    letter-spacing: 0.15em;
    width: 100%;
    position: absolute;
    height: -webkit-fill-available;
    text-shadow: 3px -1px 5px rgb(165, 162, 74);
}
.top-img{
    margin-top: 20%;
}
.navbar-nav li .font-icons {
    font-size: 1.9em;
}
.sidebar-normal {
    font-size: 1.2em;
}


footer {
    position: relative;
    z-index: 999;
}
.white-color:hover {
    color: #ef3527 !important;
}
/*---------------------------------loader-------------------------------*/
.loading{
    z-index:9999;
    background: rgba(33, 60, 96, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lds-default {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

    .lds-default div {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        animation: lds-default 1.2s linear infinite;
    }

        .lds-default div:nth-child(1) {
            animation-delay: 0s;
            top: 29px;
            left: 53px;
        }

        .lds-default div:nth-child(2) {
            animation-delay: -0.1s;
            top: 18px;
            left: 50px;
        }

        .lds-default div:nth-child(3) {
            animation-delay: -0.2s;
            top: 9px;
            left: 41px;
        }

        .lds-default div:nth-child(4) {
            animation-delay: -0.3s;
            top: 6px;
            left: 29px;
        }

        .lds-default div:nth-child(5) {
            animation-delay: -0.4s;
            top: 9px;
            left: 18px;
        }

        .lds-default div:nth-child(6) {
            animation-delay: -0.5s;
            top: 18px;
            left: 9px;
        }

        .lds-default div:nth-child(7) {
            animation-delay: -0.6s;
            top: 29px;
            left: 6px;
        }

        .lds-default div:nth-child(8) {
            animation-delay: -0.7s;
            top: 41px;
            left: 9px;
        }

        .lds-default div:nth-child(9) {
            animation-delay: -0.8s;
            top: 50px;
            left: 18px;
        }

        .lds-default div:nth-child(10) {
            animation-delay: -0.9s;
            top: 53px;
            left: 29px;
        }

        .lds-default div:nth-child(11) {
            animation-delay: -1s;
            top: 50px;
            left: 41px;
        }

        .lds-default div:nth-child(12) {
            animation-delay: -1.1s;
            top: 41px;
            left: 50px;
        }

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
#Proveedor, #TipoPenalidad, #TipoTarifa {
    margin-bottom: 5px;
}
