/* Set a background image by replacing the URL below */
body {
    background: url('https://mediaresources.000webhostapp.com/slide-gif-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
