﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Cuentas Contable";
    Layout = "~/Views/Shared/_Layout.cshtml"; // adicional
}
<h2>Vista de Cuentas Contables </h2>

<script src="~/Scripts/ViewController/CuentasContablesViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<CuentasContablesVM>()
                                .Name("CuentaContableGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.CTA_CtaCon).Title("Cuenta Contable");
                                    columns.Bound(p => p.CTA_Des).Title("Descripcion");
                                    columns.Bound(p => p.CTA_EstRegA).Title("Estado");
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text(" ").UpdateText("Guardar");
                                        command.Destroy().Text(" ");
                                    }).Title("Opciones");
                                })
                                .Scrollable()
                                .ToolBar(toolbar =>
                                {
                                    toolbar.Create().Text("Nuevo");
                                    toolbar.Excel().Text("Exportar Excel");
                                })
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(10)
                                    .Messages(m =>
                                    {
                                        m.Display("Cuentas Contables mostradas {0} - {1} de {2}");
                                        m.Empty("No hay Cuentas Contable");
                                        m.ItemsPerPage("Cuentas Contables por página");
                                    })
                                )
                                .Excel(e => e.AllPages(true).FileName("CuentasContables.xlsx"))
                                .Filterable(filterable => filterable
                                    .Extra(false)
                                    .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                        .Contains("Contiene")
                                        )
                                        .ForNumber(str => str.Clear()
                                            .IsEqualTo("Es igual a")
                                        )
                                        .ForDate(str => str.Clear()
                                            .IsGreaterThanOrEqualTo("Desde")
                                            .IsLessThanOrEqualTo("Hasta")

                                        )
                                    )
                                )
                                .Editable(editable =>
                                {
                                    editable.Mode(GridEditMode.PopUp).TemplateName("_CuentasContablesEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta CuentaContable?");
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Model(model => model.Id(p => p.CTA_CtaCon))
                                    .Read(read => read.Action("GetAllCuentasContables", "CuentasContables"))
                                    .Create(create => create.Action("InsertCuentaContable", "CuentasContables"))
                                    .Update(update => update.Action("UpdateCuentaContable", "CuentasContables"))
                                    .Destroy(destroy => destroy.Action("DeleteCuentaContable", "CuentasContables"))
                                .Events(events =>
                                {
                                    events.RequestEnd("gridManager.onRequestEnd");
                                })
                                )
                                .Events(events => events
                                    .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                )
    )
</article>

