﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-11.1.17.614.min.js")"></script>

<style>
    .title-grid {
        margin-bottom: 10px !important;
    }
    *, ::after, ::before, *, *::before, *::after {
        box-sizing: initial !important;
        box-sizing: content-box !important;
    }
</style>

<br />

@(Html.Kendo().TabStrip()
                            .Name("TabReportes")
                            //Events(e => e.Show("tabManager.onShow"))
                            .Animation(anim =>
                            {
                                anim.Open(effect => effect.Fade(FadeDirection.In));
                            })
                            .Items(tabstrip =>
                            {
                                tabstrip.Add().Text("Lista Clientes Potenciales").Content(@<text>
                                    <style>
                                        .console div {
                                            height: 3.3em;
                                        }

                                        #ReporteAcci {
                                            position: relative;
                                            width: 100%;
                                            height: 760px;
                                            font-family: Verdana, Arial;
                                        }
                                    </style>
                                    <div id="ACCI">
                                        @(Html.TelerikReporting().ReportViewer()
                                            .Id("ReporteAcci")
                                            .ServiceUrl(Url.Content("~/api/Reports"))
                                            .ReportSource(new UriReportSource() { Uri = "ListaClientesPotenciales.trdp" })
                                            .ViewMode(ViewMode.PrintPreview)
                                            .ScaleMode(ScaleMode.Specific)
                                            .Scale(1.0)
                                            .PersistSession(false)
                                        )
                                    </div>
                                </text>).Selected(true);

                                        tabstrip.Add().Text("Conteo de Reservas por Mes").Content(@<text>
                                            <div id="XTipoAccidente">
                                                <style>
                                                    #ReporteInciAcciXTipoAccidente {
                                                        position: relative;
                                                        width: 100%;
                                                        height: 760px;
                                                        font-family: Verdana, Arial;
                                                    }
                                                </style>
                                                @(Html.TelerikReporting().ReportViewer()
                                                                                                                        .Id("ReporteInciAcciXTipoAccidente")
                                                                                                                        .ServiceUrl(Url.Content("~/api/Reports"))
                                                                                                                        .ReportSource(new UriReportSource() { Uri = "ConteoReservas_ListaMeses.trdp" })
                                                                                                                        .ViewMode(ViewMode.PrintPreview)
                                                                                                                        .ScaleMode(ScaleMode.Specific)
                                                                                                                        .Scale(1.0)
                                                                                                                        .PersistSession(false)
                                                )
                                            </div>
                                        </text>);
                                                tabstrip.Add().Text("Conteo de Reservas por Vendedor").Content(@<text>
                                                    <style>
                                                        #ReporteInciAcciXSexoMes {
                                                            position: relative;
                                                            width: 100%;
                                                            height: 760px;
                                                            font-family: Verdana, Arial;
                                                        }
                                                    </style>
                                                    <div id="XSexo">
                                                        @(Html.TelerikReporting().ReportViewer()
                                                                                                                .Id("ReporteInciAcciXSexoMes")
                                                                                                                .ServiceUrl(Url.Content("~/api/Reports"))
                                                                                                                .ReportSource(new UriReportSource() { Uri = "ReporteActividadVendedores.trdp" })
                                                                                                                .ViewMode(ViewMode.PrintPreview)
                                                                                                                .ScaleMode(ScaleMode.Specific)
                                                                                                                .Scale(1.0)
                                                                                                                .PersistSession(false)
                                                        )

                                                    </div>
                                                </text>);


                                                    })
)
