﻿@model Inmobiliaria.Core.ViewModels.DivisionVM


<div class="container-fluid">
    <div class="card-body" id="DivisionContainer">

        <div class="row">
            @Html.HiddenFor(model => model.DIV_Codigo)
            @Html.LabelFor(model => model.DIV_Descripcion, new { @class = "col-md-4  col-sm-3 col-form-label" })
            <div class="col-md-7">
                @Html.Kendo().TextBoxFor(model => model.DIV_Descripcion).HtmlAttributes(new { @class = "col-md-12 col-sm-3" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.DIV_Direccion, new { @class = "col-md-4 col-sm-3 col-form-label" })
            <div class="col-md-7">
                @Html.Kendo().TextBoxFor(model => model.DIV_Direccion).HtmlAttributes(new { @class = "col-md-12 col-sm-3" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.DIV_Ubigeo, new { @class = "col-md-4 col-sm-3 col-form-label" })
            <div class="col-md-7">
                @Html.Kendo().TextBoxFor(model => model.DIV_Ubigeo).HtmlAttributes(new { @class = "col-md-12 col-sm-3" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.DIV_Ruta, new { @class = "col-md-4 col-sm-3 col-form-label" })
            <div class="col-md-7">
                @Html.Kendo().TextBoxFor(model => model.DIV_Ruta).HtmlAttributes(new { @class = "col-md-12 col-sm-3" })
            </div>
        </div>
    </div>
    @*<br />
        <div class="row">
            <div class="col-md-3 archivo-label">
                <label>Fotos:</label>
            </div>

            <div class="col-md-6">
                @(Html.Kendo().Upload()
                                                .Name("fotos")
                                                .Validation(validation => validation
                                                    .AllowedExtensions(new string[] {".JPG", ".jpg", ".jpeg", ".JPEG" })
                                                    .MaxFileSize(3145728)
                                                )
                                                .Multiple(false)
                                                .Async(a => a.AutoUpload(true)
                                            .SaveUrl(Url.Action("SubirImagenes", "ArchivosGoogle"))
                                            )
                                            //.Events(e => e.Upload("gridManager.onUploadFilesGoogle").Success("gridManager.upload").Complete("gridManager.completitud"))
                                                .HtmlAttributes(new { aria_label = "files" })
                )

            </div>
        </div>*@
</div>
