﻿@using SistInmobiliaria.Models.Auth;
@{ UserVM user = (UserVM)HttpContext.Current.Session["currentUser"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=edge">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Images/")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Images/yoroico.png")">
    <title>@ViewBag.Title - SISTEMA INMOBILIARIO</title>
    <!--css del Coool sidebar :Y-->
    <link href="@Url.Content("~/Content/css/sidebar.css")" rel="stylesheet" />
    
    <!--telerik css-->
    <link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Content/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/sweetalert2.min.css")" rel="stylesheet" />
    <!--configuración general de los kendogrids :) -->
    <link href="@Url.Content("~/Content/css/all.css")" rel="stylesheet" />

    <!--necesario para que funcione el sidebar-->
    <link href="@Url.Content("~/Content/bootstrap-grid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-grid.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-reboot.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-reboot.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

    <!--personalizacion general -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />

    <!-- jquerys necesarios -->
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <!--Necesario para telerik, kendo ...-->
    <script src="@Url.Content("~/Scripts/js/plugins/jquery.tablesorter.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/jquery.bootstrap-wizard.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/perfect-scrollbar.jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/bootstrap-switch.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/bootstrap-selectpicker.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/bootstrap-tagsinput.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/jasny-bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/jquery-jvectormap.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/nouislider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/chartjs.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/bootstrap-notify.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/main-min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/main.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.es-PE.min.js")"></script>
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript">
        kendo.culture("es-PE");
    </script>
    <style>
        /*el boton padre xdxd Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        /* hijos del dropdown escondido por defecto Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            /*background-color: #262626;*/
            padding-left: 8px;
        }
        .titulo-sidebar {
            color: white;
        }
        /** color de fondo del sidebar y navbar*/
        .bg-light {
            /*background-color: rgba(214, 228, 212, 0.53) !important;*/
            background-color: rgba(44, 49, 43, 0.4) !important;
        }
        /**item de grupo de boton de sidebar*/
        .list-group-item {
            color:white;
        }
        .dropdown-btn {
            color:white;
        }
        /*colores de los enlaces del navbar del usuario*/
        .navbar-light .navbar-nav .show > .nav-link {
            color: whitesmoke;
        }
        .navbar-light .navbar-nav .nav-link {
            color: white;
        }
        .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
            color: ActiveBorder;
        }
        .icon-single-02 {
            color: white;
        }
        .navbar-light .navbar-nav .active > .nav-link {
            color: white;
        }
        .title-grid {
            color: white;
            -webkit-text-stroke: 1px black;
        }
    </style>
</head>

<body class="">
    <!--sidebar papa :v-->
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <div class="btn btn-outline-light btn-lg btn-block boton-inicio">
                        <div class="row">
                            <div class="col-1">
                                <i id="iconodrop" class="tim-icons icon-bank"></i>
                            </div>
                            <div class="col">
                                <a class="navbar-brand titulo-sidebar">INICIO</a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="list-group list-group-flush sticky-top">
                <!-- sidebar dropdown-->
                <button class="dropdown-btn">
                    <div class="row">
                        <div class="col-1">
                            <i id="iconodrop" class="tim-icons icon-notes"></i>
                        </div>
                        <div class="col">
                            Reservas
                        </div>
                        <div class="col-3">
                            <i id="iconodrop" class="tim-icons icon-minimal-down"></i>
                        </div>
                    </div>
                </button>
                <!-- falta filtrar ciertas tablas/items del dropdown-container segun tipo de usuario :)-->
                <div class="dropdown-container">
                    <a href="@Url.Action("Index", "Reserva")" class="list-group-item list-group-item-action bg-light">Maestro de Reservas</a>
                    <a href="@Url.Action("Index", "Cliente")" class="list-group-item list-group-item-action bg-light">Maestro de Clientes</a>
                    <a href="@Url.Action("Index", "Division")" class="list-group-item list-group-item-action bg-light">Maestro de Divisiones/Condominios</a>
                    <a href="@Url.Action("Index", "Departamento")" class="list-group-item list-group-item-action bg-light">Maestro de Departamento</a>
                    <a href="@Url.Action("Index", "Vendedor")" class="list-group-item list-group-item-action bg-light">Maestro de Vendedor</a>
                </div>
                <!---->
                <!-- sidebar dropdown-->
                <button class="dropdown-btn">
                    <div class="row">
                        <div class="col-1">
                            <i id="iconodrop" class="tim-icons icon-money-coins"></i>
                        </div>
                        <div class="col">
                            Fondos Fijos
                        </div>
                        <div class="col-3">
                            <i id="iconodrop" class="tim-icons icon-minimal-down"></i>
                        </div>
                    </div>
                </button>
                <!-- falta filtrar ciertas tablas/items del dropdown-container segun tipo de usuario :)-->
                <div class="dropdown-container">
                    <a href="@Url.Action("Index", "CuentasContables")" class="list-group-item list-group-item-action bg-light">Maestro de Cuentas Contables</a>
                    <a href="@Url.Action("Index", "FondoFijo")" class="list-group-item list-group-item-action bg-light">Maestro de Fondo Fijo</a>
                    <a href="@Url.Action("Index", "Proveedor")" class="list-group-item list-group-item-action bg-light">Maestro de Proveedores</a>
                    <a href="@Url.Action("Index", "Reembolso")" class="list-group-item list-group-item-action bg-light">Maestro de Reembolso</a>
                    <!-- falta modificar la vista de rendicion, debe poseer Rendicioncab y det en un solo view-->
                    <a href="@Url.Action("Index", "Rendicion")" class="list-group-item list-group-item-action bg-light">Rendición</a>
                </div>
                <!---->
                <!-- sidebar dropdown-->
                <button class="dropdown-btn">
                    <div class="row">
                        <div class="col-1">
                            <i id="iconodrop" class="tim-icons icon-chart-bar-32"></i>
                        </div>
                        <div class="col">
                            Reportes
                        </div>
                        <div class="col-3">
                            <i id="iconodrop" class="tim-icons icon-minimal-down"></i>
                        </div>
                    </div>
                </button>
                <!-- falta filtrar ciertas tablas/items del dropdown-container segun tipo de usuario :)-->
                <div class="dropdown-container">
                    <!-- falta crear views para los reportes-->
                    <a href="@Url.Action("Index", "Reportes")" class="list-group-item list-group-item-action bg-light">Clientes</a>
                    @*<a href="#" class="list-group-item list-group-item-action bg-light">Reservas</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Vendedores</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Rendición de Fondo Fijo</a>*@
                </div>
                <!---->
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
                <button class="btn btn-primary" id="menu-toggle">Menú</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--seccion de usuario-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link">
                                <i class="tim-icons icon-single-02 font-user"></i>
                                <span id="usuarioGlobal">@User.Identity.Name &nbsp;</span>
                            </a>
                        </li>
                        <!--dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opciones
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("ListaCondominios","GridCondominios")" target="_blank">Ver galería de Condominios</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("LogOff", "LogIn")">
                                    Cerrar Sesión
                                    <i class="tim-icons icon-button-power font-user" style="color:dimgray; padding-left:inherit;"></i>
                                </a>
                            </div>
                        </li>
                        <!---->
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <h1 class="mt-4"></h1>
                <p></p>
                <div>
                    @RenderBody()
                </div>

            </div>

            <footer class="footer">
                <div class="container-fluid text-center" style="color:white;">
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> hecho con <span style="color:red;" class="tim-icons icon-heart-2"></span> by
                        EQUIPO YORUZUYA.
                    </div>
                </div>
            </footer>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
        function _alert(message, type) {
            Swal.fire({
                position: 'center',
                type: type,
                title: message,
                showConfirmButton: false,
                timer: type == 'error' ? 3000 : 2000
            });
        }
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <!--Child menu Script (submenus :) )-->
    <script>
        /* Ver todos los hijos del dropdown Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                    //$("#iconodrop").removeClass()
                    //$("#iconodrop").addClass("tim-icons icon-minimal-down")
                } else {
                    dropdownContent.style.display = "block";
                    //$("#iconodrop").removeClass()
                    //$("#iconodrop").addClass("tim-icons icon-minimal-up")
                }
            });
        }
        //al pasarle el cursor cambiar de color al texto del boton de inicio
        $('.boton-inicio').hover(function () {
            $('.boton-inicio .titulo-sidebar').css({
                "color": "black"
            });
        }, function () {
            $('.boton-inicio .titulo-sidebar').css({
                "color": "white"
            });
        });
        //redireccionar a inicio
        $('.boton-inicio').click(function () {
            window.location.href = "@Url.Action("Index","Home")";
        });

    </script>
</body>
</html>