﻿@using SistInmobiliaria.Models.Auth;
@{ UserVM user = (UserVM)HttpContext.Current.Session["currentUser"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=edge">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Images/favicon_ca.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Images/favicon_2.ico")">
    <title>@ViewBag.Title - Condominios</title>
    <link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/all.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/core/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/main.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.es-PE.min.js")"></script>
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript">
        kendo.culture("es-PE");
    </script>
    <!--necesarios para navbar-->
    <link href="@Url.Content("~/Content/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/navbar-index-general.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/body-index-principal.css")" rel="stylesheet" />
       
    <script>
        //script para resaltar de con otro color al navbar seleccionado
       // y hacer el efecto scroll para desplazarse a determinada seccion de la pág
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#index']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }// End if
            });
        })

    </script>
    <!---->

</head>
<body id="index" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!--COOL NAVBAR-->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Index")">Sweet Home</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Index")">INICIO</a></li>
                    <li><a href="@Url.Action("Index","Index")#nosotros">NOSOTROS</a></li>
                    <li><a href="#condominio">CONDOMINIOS</a></li>
                    <li><a href="@Url.Action("Index","Index")#contacto">CONTÁCTENOS</a></li>
                    <li><a href="@Url.Action("LogIn","LogIn")">EMPRESA<i class="tim-icons icon-single-02"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end navbar-->


    <div id="condominio" class="container-fluid">
        <br />
        <br />
        @RenderBody()
    </div>

    <!-- footer -->
    <footer class="footer bg-darker">
        <div class="container-fluid text-center">
            <a href="#index" title="To Top">
                <i class="tim-icons icon-minimal-up "></i>
            </a>
            <div class="copyright">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script> hecho con <i class="tim-icons icon-heart-2"></i> por
                <a href="" target="_blank">EQUIPO YOROZUYA</a>.
            </div>
            <br />
        </div>
    </footer>

</body>


</html>

