﻿
@{
    ViewBag.Title = "_Navbar";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/navbar-index-general.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/body-index-principal.css")" rel="stylesheet" />
   
</head>
<body id="index" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!--Navigation-->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Index")">Sweet Home</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#inicio">INICIO</a></li>
                    <li><a href="#nosotros">NOSOTROS</a></li>
                    <li><a href="#condominio">CONDOMINIOS</a></li>
                    <li><a href="#contacto">CONTÁCTENOS</a></li>
                    <li><a href="@Url.Action("LogIn","LogIn")">LOGIN<i class="tim-icons icon-single-02"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav-->
    <!-- contenido de la página que hizo llamada a navbar-->
    @RenderBody()

    <!-- footer -->
    <footer class="footer bg-darker">
        <div class="container-fluid text-center">
            <a href="#index" title="To Top">
                <i class="tim-icons icon-minimal-up "></i>
            </a>
            <div class="copyright">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script> hecho con <i class="tim-icons icon-heart-2"></i> por
                <a href="" target="_blank">EQUIPO YOROZUYA</a>.
            </div>
            <br />
        </div>
    </footer>

    <!-- Core JS Archivos-->
    <!-- jquerys necesarios -->
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/core/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/core/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/chartjs.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#index']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 120, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }// End if
            });
        })

    </script>
</body>
</html>


