﻿@model Inmobiliaria.Core.ViewModels.RendicionCABVM

<div class="card-body" id="RendicionContainer">
    @(Html.Kendo().TabStrip()
                        .Name("TabReportePrel")
                        .Animation(anim =>
                        {
                            anim.Open(effect => effect.Fade(FadeDirection.In));
                        })
                        .Items(tabstrip =>
                        {
                            tabstrip.Add().Text("Rendición")
                .Selected(true)
                .Content(@<text>
                    <div class="contenedor-tap">
                        <div class="contenedor">
                            <div id="cabeceraReporte">
                                @*<div class="row">
            @Html.LabelFor(model => model.IdRendicion, new { @class = "col-md-4 col-form-label" })
            <div class="col-md-7">
                @(Html.Kendo().TextBoxFor(model => model.IdRendicion)
                    .HtmlAttributes(new { @class = "col-md-12 " }))
            </div>
        </div>*@
                                <div class="row">
                                    @Html.HiddenFor(model => model.IdRendicion)
                                    @Html.LabelFor(model => model.FechaCreacionRendicion, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DatePickerFor(model => model.FechaCreacionRendicion)
                                                    //.Min(DateTime.Now)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.LabelFor(model => model.FechaEnvioRendicion, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DatePickerFor(model => model.FechaEnvioRendicion)
                                                    //.Min(DateTime.Now)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.LabelFor(model => model.FF_Cod, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DropDownListFor(model => model.FF_Cod)
                                                    .DataSource(ac => { ac.Read(re => re.Action("GetAllFondosFijosDrop", "DropDowns")); })
                                                    .AutoBind(true)
                                                    .OptionLabel("- Elegir -")
                                                    .DataTextField("FF_CtaCte")
                                                    .DataValueField("FF_Cod")
                                                    .HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>
                            <div id="DetalleFondoFijo">
                                <div class="row">
                                    @Html.LabelFor(model => model.FF_CtaCon, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DropDownListFor(model => model.FF_CtaCon)
                                            .DataSource(ca => { ca.Read(res => res.Action("GetAllCuentasContablesDrop", "DropDowns")); })
                                            .AutoBind(true)
                                     
                                            .OptionLabel("- Elegir -")
                                            .Filter("contains")
                                            .DataTextField("CTA_Des")
                                            .DataValueField("CTA_CtaCon")
                                            .HtmlAttributes(new { @class = "col-md-12" }))
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.LabelFor(model => model.FF_Div, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DropDownListFor(model => model.FF_Div)
                                            .DataSource(ac => { ac.Read(re => re.Action("GetAllDivisionDrop", "DropDowns")); })
                                            .AutoBind(true)
                                     
                                            .Filter("contains")
                                            .OptionLabel("- Elegir -")
                                            .DataTextField("DIV_Descripcion")
                                            .DataValueField("DIV_Codigo")
                                            .HtmlAttributes(new { }))
                                    </div>
                                </div>
                            </div>
                            <div id="EstadoRegistro">
                                <div class="row">
                                    @Html.LabelFor(model => model.EstadoRegistroRendicion, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DropDownListFor(model => model.EstadoRegistroRendicion)
                                            .DataSource(er => { er.Read(resp => resp.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = " " })); })
                                            .AutoBind(true)
                                     
                                            .OptionLabel("- Elegir -")
                                            .DataTextField("ESTREG_Des")
                                            .DataValueField("ESTREG_EstReg")
                                            .HtmlAttributes(new { @class = "col-md-12" }))
                                    </div>
                                </div>
                            </div>
                            <div id="MontoTotal">
                                <div class="row">
                                    @Html.LabelFor(model => model.TotalRendicion, new { @class = "col-md-4 col-form-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.TotalRendicion)
                                            .HtmlAttributes(new { @class = "col-md-12" }).Enable(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </text>);
//TAB 6 ARCHIVOS (EDITAR)
tabstrip.Add().Text("Detalle Rendición")
.Content(@<text>
    <div class="contenedor-tap" >
        <div class="contenedor">    
            <div id="DetalleContainer">
                @*<div class="row">
                    @Html.LabelFor(model => model.REND_Cod, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().TextBoxFor(model => model.REND_Cod)
                                                            .HtmlAttributes(new { @class = "col-md-12 " }))
                    </div>
                </div>*@
                <div class="row">
                    @Html.HiddenFor(model=>model.REND_Cod)
                    @Html.LabelFor(model => model.DIV_Cod_Detalle, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.DIV_Cod_Detalle)
                                                    .DataSource(ac => { ac.Read(re => re.Action("GetAllDivisionDrop", "DropDowns")); })
                                                    .AutoBind(true)
                                     
                                                    .Filter("contains")
                                                    .OptionLabel("- Elegir -")
                                                    .DataTextField("DIV_Descripcion")
                                                    .DataValueField("DIV_Codigo")
                                                    .HtmlAttributes(new { }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_FecCon, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DatePickerFor(model => model.REND_FecCon)
                                                    //.Min(DateTime.Now)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_FecDoc, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DatePickerFor(model => model.REND_FecDoc)
                                                    //.Min(DateTime.Now)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_TipDoc, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().NumericTextBoxFor(model => model.REND_TipDoc)
                                                    .HtmlAttributes(new { @class = "col-md-12" }))
                        @*@(Html.Kendo().DropDownListFor(model => model.REND_TipDoc)
                    .DataSource(ac => { ac.Read(re => re.Action("GetAllTipoCondicionFiscalDrop", "DropDowns")); })
                    .AutoBind(true)
                    .OptionLabel("- Elegir -")
                    .DataTextField("TIPCONFIS_Des")
                    .DataValueField("TIPCONFIS_TipConFis")
                    .HtmlAttributes(new { }))*@
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_DocRef, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().TextBoxFor(model => model.REND_DocRef)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.TIPIMP_TipImp, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.TIPIMP_TipImp)
                                                    .DataSource(ac => { ac.Read(re => re.Action("GetAllTipoImpuestoDrop", "DropDowns")); })
                                                    .AutoBind(true)
                                     
                                                    .OptionLabel("- Elegir -")
                                                    .DataTextField("TIPIMP_Des")
                                                    .DataValueField("TIPIMP_TipImp")
                                                    .HtmlAttributes(new { }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_MonGas, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().NumericTextBoxFor(model => model.REND_MonGas)
                                                    .HtmlAttributes(new { @class = "col-md-12" }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_Des, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().TextBoxFor(model => model.REND_Des)
                                                    .HtmlAttributes(new { @class = "col-md-12 " }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.TIPORD_TipOrd, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.TIPORD_TipOrd)
                                                    .DataSource(ca => { ca.Read(res => res.Action("GetAllTipoOrdenDrop", "DropDowns")); })
                                                    .AutoBind(true)
                                     
                                                    .OptionLabel("- Elegir -")
                                                    .Filter("contains")
                                                    .DataTextField("TIPORD_Des")
                                                    .DataValueField("TIPORD_TipOrd")
                                                    .HtmlAttributes(new { @class = "col-md-12" }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.REND_CtaCon, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.REND_CtaCon)
                                                    .DataSource(ca => { ca.Read(res => res.Action("GetAllCuentasContablesDrop", "DropDowns")); })
                                                    .OptionLabel("- Elegir -")
                                                    .Filter("contains")
                                                    .DataTextField("CTA_Des")
                                                    .DataValueField("CTA_CtaCon")
                                                    .HtmlAttributes(new { @class = "col-md-12" }))
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Proveedor, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.Proveedor)
                                            .DataSource(er => { er.Read(resp => resp.Action("GetAllProveedorDrop", "DropDowns")); })
                                            .AutoBind(true)
                                     
                                            .OptionLabel("- Elegir -")
                                            .DataTextField("PRO_Nom")
                                            .DataValueField("PRO_Cod")
                                            .HtmlAttributes(new { @class = "col-md-12" }))
                    </div>
                </div>
            </div>
            <div id="DetalleFondoFijoDetalle">
                <div id="CABECERAFONDODETALLE">
                    <div class="row">
                        @Html.LabelFor(model => model.FF_Cod_Detalle, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-7">
                            @(Html.Kendo().DropDownListFor(model => model.FF_Cod_Detalle)
                                        .DataSource(ac => { ac.Read(re => re.Action("GetAllFondosFijosDrop", "DropDowns")); })
                                        .AutoBind(true)
                                     
                                        .OptionLabel("- Elegir -")
                                        .DataTextField("FF_CtaCte")
                                        .DataValueField("FF_Cod")
                                        .HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>
                <div id="DETALLEFONDODETALLE">
                    <div class="row">
                        @Html.LabelFor(model => model.FF_CtaCon_DEtalle, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-7">
                            @(Html.Kendo().DropDownListFor(model => model.FF_CtaCon_DEtalle)
                                        .DataSource(ca => { ca.Read(res => res.Action("GetAllCuentasContablesDrop", "DropDowns")); })
                                        .AutoBind(true)
                                     
                                        .OptionLabel("- Elegir -")
                                        .Filter("contains")
                                        .DataTextField("CTA_CtaCon")
                                        .DataValueField("CTA_CtaCon")
                                        .HtmlAttributes(new { @class = "col-md-12" }))
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.FF_Div_Detalle, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-7">
                            @(Html.Kendo().DropDownListFor(model => model.FF_Div_Detalle)
                                        .DataSource(ac => { ac.Read(re => re.Action("GetAllDivisionDrop", "DropDowns")); })
                                        .AutoBind(true)
                                        .Filter("contains")
                                        .OptionLabel("- Elegir -")
                                        .DataTextField("DIV_Descripcion")
                                        .DataValueField("DIV_Codigo")
                                        .HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>
            </div>
            <div id="EstadoRegistroDetalle">
                <div class="row">
                    @Html.LabelFor(model => model.REND_EstRegCtaCon, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.REND_EstRegCtaCon)
                                    .DataSource(er => { er.Read(resp => resp.Action("GetAllEstadoRegistroDrop", "DropDowns", new { tipo = " " })); })
                                    .AutoBind(true)
                                     
                                    .OptionLabel("- Elegir -")
                                    .DataTextField("ESTREG_Des")
                                    .DataValueField("ESTREG_EstReg")
                                    .HtmlAttributes(new { @class = "col-md-12" }))
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-left:30px; margin-top:30px;">

                @(Html.Kendo().Button()
                            .Name("AgregarDetalleRendicion")
                            .Content("Agregar")
                            .HtmlAttributes(new { type = "button", @class = "k-grid-add" })
                            .Events(eve => eve.Click("gridManager.onClickAgregar"))
                )

                @(Html.Kendo().Button()
                            .Name("CancelarDetalleRendicion")
                            .Content("Cancelar")
                            .HtmlAttributes(new { type = "button", @class = "k-grid-cancel" })
                            .Events(eve => eve.Click("gridManager.onClickCancelar"))
                )


            </div>
        </div>
    </div>
</text>);
//TAB 6 ARCHIVOS (EDITAR)
tabstrip.Add().Text("Detalle Rendición")
.Content(@<text>
    <div class="contenedor-tap">
        <div class="contenedor">
            <div id="divGridDosajeAdjuntos">
                @(Html.Kendo().Grid<Inmobiliaria.Core.ViewModels.RendicionDETVM>()
                        .Name("gridDetalleRendicion")
                        .Columns(columns =>
                        {
                            //columns.Bound(p => p.REND_Cod).ClientTemplate("#if( REND_Cod==-1){##=DescripcionArchivo##}else{#" + @Html.ActionLink("#= DescripcionArchivo#", "DescargarArchivoReportePreliminar", new { codigoArchivo = "#= CODIGOGUID#", nombreArchivo = "#= DescripcionArchivo#" }) + "#}#").Title("Archivos");
                            //columns.Bound(p => p.DIV_Cod).Title("Descripcion");
                            columns.Bound(p => p.REND_MonGas).Title("Monto");
                            columns.Bound(p => p.REND_Des).Title("Detalle");
                            columns.Command(command =>
                            {
                                command.Destroy().Text("Eliminar");
                                command.Edit().Text("Editar").UpdateText("Guardar");
                            }).Title("Opciones");
                        })
                        .Scrollable()
                        .AutoBind(false)
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .AutoSync(false)
                            .ServerOperation(false)
                            .PageSize(10)
                            .Model(model => { model.Id(p => p.REND_Cod); })
                            .Read(read => read.Action("GetDetallesbyCabecera", "Rendicion").Data("gridManager.ParaDetalle"))
                            .Create(create => create.Action("InsertDetalle", "Rendicion"))
                            .Update(update => update.Action("UpdateDetalle", "Rendicion"))
                            .Destroy(destroy => destroy.Action("DeleteDetalle", "Rendicion"))
                            .Events(eve => { eve.RequestEnd("gridManager.onRequestEndDetalles"); })
                            )
                            .Events(eve =>
                            {
                                eve.Edit("gridManager.onChangeDetalles");
                                eve.Remove("gridManager.onRemoveDetalles");
                            })
                        )
            </div>
        </div>
    </div>
</text>);
})
)


</div>



@*<div class="boton-siguiente text-center">
    @(Html.Kendo().Button().Name("PreviousTab")
        .Events(eve => eve.Click("onClickPreviousTab"))
        .Content("Atras")
        .Icon("arrow-end-left")
        .HtmlAttributes(new { type = "", style = "color: red;" })
    )
    @(Html.Kendo().Button().Name("NextTab")
        .Events(eve => eve.Click("onClickNextTab"))
        .Content("Siguiente")
        .Icon("arrow-end-right")
        .HtmlAttributes(new { type = "button" })
    )
</div>*@