﻿@model Inmobiliaria.Core.ViewModels.CuentasContablesVM



<div class="card-body" id="CuentasContainer">

    <div class="row">
        @Html.LabelFor(model => model.CTA_CtaCon, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CTA_CtaCon).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.CTA_Des, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CTA_Des).HtmlAttributes(new { })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.CTA_EstRegA, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CTA_EstRegA).HtmlAttributes(new { })
        </div>
    </div>
    @Html.HiddenFor(model => model.UsuarioCrea, new { id = "usuarioCrea", value = @User.Identity.Name })

</div>
