﻿@model Inmobiliaria.Core.ViewModels.VendedorVM

<div class="card-body" id="VendedorContainer">
    <div class="row">
        @Html.HiddenFor(model => model.IdVendedor)
        @Html.LabelFor(model => model.NombreVendedor, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.NombreVendedor).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.ApellidoPaterno).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />

    <div class="row">
        @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.ApellidoMaterno).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Direccion, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Direccion).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.DNI, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.DNI).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Telefono, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Telefono).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.CorreoElectronico, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CorreoElectronico).HtmlAttributes(new { @class = "col-md-12"})
        </div>
    </div>
</div>
