﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ViewController/ClienteViewController.js"></script>

<article>
    <div id="cabecera">
        <h2 class="title-grid">@ViewBag.Title</h2>
    </div>
    <div>
        @(Html.Kendo().Grid<ClienteVM>()
            .Name("ClienteGrid")
            .Columns(columns =>
            {

                columns.Bound(p => p.NombreCliente).ClientTemplate("#= ApellidoPaterno# #= ApellidoMaterno#,#= NombreCliente#").Title("Apellidos y Nombre(s)");
                //columns.Bound(p => p.ApellidoPaterno).Title("Apellido");
                columns.Bound(p => p.DNI).Title("DNI");
                columns.Bound(p => p.Telefono).Title("Telefono");
                columns.Bound(p => p.DescripcionEstado).Title("Categoria");
                columns.Command(command =>
                {
                    command.Edit().Text(" ").UpdateText("Guardar");
                    command.Destroy().Text(" ");    
                }).Title("Opciones");
            })
            .Scrollable()
            .ToolBar(toolbar =>
            {
                toolbar.Create().Text("Nuevo");
                toolbar.Excel().Text("Exportar Excel");
                toolbar.Pdf().Text("Exportar PDF");
            })
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10)
.Messages(m =>
{
    m.Display("Clientes mostradas {0} - {1} de {2}");
    m.Empty("No hay Clientes");
    m.ItemsPerPage("Clientes por página");
})
)
.Excel(e => e.AllPages(true).FileName("Clientes.xlsx"))
.Pdf(e => e.AllPages().FileName("Clientes.pdf"))
.Filterable(filterable => filterable
.Extra(false)
.Operators(operators => operators
        .ForString(str => str.Clear()
    .Contains("Contiene")
    )
    .ForNumber(str => str.Clear()
        .IsEqualTo("Es igual a")
    )
    .ForDate(str => str.Clear()
        .IsGreaterThanOrEqualTo("Desde")
        .IsLessThanOrEqualTo("Hasta")

    )
)
)
.Editable(editable =>
{
editable.Mode(GridEditMode.PopUp).TemplateName("_ClienteEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Cliente?");
})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(10)
.Model(model => model.Id(p => p.IdCliente))
.Read(read => read.Action("GetAllClientes", "Cliente"))
.Create(create => create.Action("InsertCliente", "Cliente"))
.Update(update => update.Action("UpdateCliente", "Cliente"))
.Destroy(destroy => destroy.Action("DeleteCliente", "Cliente"))
.Events(events =>
{
events.RequestEnd("gridManager.onRequestEnd");
})
)
.Events(events => events
.Edit("gridManager.onEdit").Save("gridManager.onSave")
)
        )
    </div>
</article>


