﻿@model Inmobiliaria.Core.ViewModels.CondominioVM



<div class="card-body" id="CondominioContainer">

    <div class="row">
        @Html.HiddenFor(model => model.IdCondominio)
        @Html.LabelFor(model => model.NombreCondominio, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.NombreCondominio).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.CondominioDireccion, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CondominioDireccion).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />

    <div class="row">
        @Html.LabelFor(model => model.CondominioRuta, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.CondominioRuta).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Ubicacion, new { @class = "col-md-4 col-form-label" })
        <div class="col-md-7">
            @Html.Kendo().TextBoxFor(model => model.Ubicacion).HtmlAttributes(new { @class = "col-md-12" })
        </div>
    </div>
    @*<br />
    <div class="row">
        <div class="col-md-3 archivo-label">
            <label>Fotos:</label>
        </div>

        <div class="col-md-6">
            @(Html.Kendo().Upload()
                                            .Name("fotos")
                                            .Validation(validation => validation
                                                .AllowedExtensions(new string[] {".JPG", ".jpg", ".jpeg", ".JPEG" })
                                                .MaxFileSize(3145728)
                                            )
                                            .Multiple(false)
                                            .Async(a => a.AutoUpload(true)
                                        .SaveUrl(Url.Action("SubirImagenes", "ArchivosGoogle"))
                                        )
                                        //.Events(e => e.Upload("gridManager.onUploadFilesGoogle").Success("gridManager.upload").Complete("gridManager.completitud"))
                                            .HtmlAttributes(new { aria_label = "files" })
            )

        </div>
    </div>*@
</div>
