﻿@using Inmobiliaria.Core.ViewModels
@{
    ViewBag.Title = "Maestro de Condominios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewController/CondominioViewController.js"></script>

<article>
    <h2 class="title-grid">@ViewBag.Title</h2>
    <br />
    @(Html.Kendo().Grid<CondominioVM>()
                                        .Name("CondominioGrid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.NombreCondominio).Title("Condominio");
                                            columns.Bound(p => p.CondominioDireccion).Title("Direccion");
                                            columns.Bound(p => p.CondominioRuta).Title("Ruta Img").ClientTemplate("<img src='"+ "#= CondominioRuta #"+"' height='90' width='90'/>");
                                            columns.Bound(p => p.DescripcionEstado).Title("Categoria");
                                            columns.Command(command =>
                                            {
                                                command.Edit().Text(" ").UpdateText("Guardar");
                                                command.Destroy().Text(" ");
                                            }).Title("Opciones");
                                        })
                                        .Scrollable()
                                        .ToolBar(toolbar =>
                                        {
                                            toolbar.Create().Text("Nuevo");
                                            toolbar.Excel().Text("Exportar Excel");
                                        })
                                        .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(10)
                                            .Messages(m =>
                                            {
                                                m.Display("Condominios mostradas {0} - {1} de {2}");
                                                m.Empty("No hay Condominios");
                                                m.ItemsPerPage("Condominios por página");
                                            })
                                        )
                                        .Excel(e => e.AllPages(true).FileName("Condominios.xlsx"))
                                        .Filterable(filterable => filterable
                                            .Extra(false)
                                            .Operators(operators => operators
                                                    .ForString(str => str.Clear()
                                                .Contains("Contiene")
                                                )
                                                .ForNumber(str => str.Clear()
                                                    .IsEqualTo("Es igual a")
                                                )
                                                .ForDate(str => str.Clear()
                                                    .IsGreaterThanOrEqualTo("Desde")
                                                    .IsLessThanOrEqualTo("Hasta")
                                                )
                                            )
                                        )
                                        .Editable(editable =>
                                        {
                                            editable.Mode(GridEditMode.PopUp).TemplateName("_CondominioEditor").DisplayDeleteConfirmation("¿Está seguro(a) que desea eliminar esta Condominio?");
                                        })
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(10)
                                            .Model(model => model.Id(p => p.IdCondominio))
                                            .Read(read => read.Action("GetAllCondominios", "Condominio"))
                                            .Create(create => create.Action("InsertCondominio", "Condominio"))
                                            .Update(update => update.Action("UpdateCondominio", "Condominio"))
                                            .Destroy(destroy => destroy.Action("DeleteCondominio", "Condominio"))
                                        .Events(events =>
                                        {
                                            events.RequestEnd("gridManager.onRequestEnd");
                                        })
                                        )
                                        .Events(events => events
                                            .Edit("gridManager.onEdit").Save("gridManager.onSave")
                                        ).HtmlAttributes(new { style = "height: 500px" })
    )
    <br />
    <br />

    @*(Html.Kendo().Grid<CondominioVM>().Name("Condominio")
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.IdCondominio);
                })
                    .Read(read => read.Action("GetAllCondominios", "Condominio"))
            )
            .Columns(columns =>
            {
                columns.Bound(c => c.NombreCondominio);
                columns.Bound(c => c.CondominioRuta).ClientTemplate("<img src='" + "#=CondominioRuta#' alt='#=Name #' Title='#=Name #' height='62' width='62'/>");

            })
    )*@

</article>


